{% extends "mybooks/base.html" %}

<br \><a href="{% url 'mybooks:authors' %}">Authors</a>

{% block heading %}{{ author }}{% endblock %}
{% block body %}
<table>
  <tr>
    <th>Notes</th><td>{{ author.notes }}</td>
  </tr>
  <tr>
    <th>Rating</th><td>{{ author.rating }}</td>
  </tr>
    <th>Added</th><td>{{ author.date_added }}</td>
  </tr>
  </tr>
    <th></th><td><a
           href="{% url 'mybooks:author_update' author.id %}">Update</a></td>
  </tr>
</table>

<h2>Books</h2>
{% if books %}
    <ul>
    {% for book in books %}
        <li>
           <a href="{% url 'mybooks:book_detail' book.id %}" >{{ book.title }}</a> =>
           {% if book.series %}
             (<a
           href="{% url 'mybooks:series_detail' book.series.id %}" >{{ book.series }}</a>)
           {% endif %}
      </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books by this author:-(.</p>
{% endif %}
{% endblock %}
