{% extends "mybooks/base.html" %}
{% block heading %}My Authors{% endblock %}

{% block body %}
    {% if author_list %}
        <ul>
          {% for author in author_list %}
              <li><a href="{% url 'mybooks:author_detail' author.id %}">
                      {{ author.last }}, {{ author.first }}</a>
                {% if author.books_read %}
                    read: {{author.number_books_read}}
                    {% if author.rating %}
                        rated: {{ author.rating }}
                    {% endif %}
                {% endif %}
              </li>
           {% endfor %}
        </ul>
    {% else %}
        <p>No authors :-(.</p>
    {% endif %}
{% endblock %}
