{% extends "mybooks/base.html" %}

<br \><a href="{% url 'mybooks:authors' %}">Authors</a>

{% block heading %}{{ author }}{% endblock %}

{% block body %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mybooks:author_update' pk %}" method="post">
{% csrf_token %}

<table>
  <tr>
    <th>First</th>
    <td><input type="text" name="first" id="first" value="{{ author.first }}"</td>
  </tr>
  <tr>
    <th>Last</th>
    <td><input type="text" name="last" id="last" value="{{ author.last }}"</td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><textarea name="notes" id="notes" rows=5 cols=50>
{% if author.notes %}{{ author.notes }}{% endif %}</textarea></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><input type="text" name="rating" id="rating"
         value="{% if author.rating %}{{ author.rating }}{% endif %}"/td>
  </tr>
  <tr>
    <th>Added</th> <td>{{ author.date_added }}</td>
  </tr>
</table>
<input type="submit" id="submit" name="submit" value="Update" />
</form>
{% endblock %}
