<a href="{% url 'mybooks:allbooks_alphabetical' %}">Books Alphabetical</a> |
<a href="{% url 'mybooks:allbooks_orderread' %}">Books order read</a> |
Books to Read <a href="{% url 'mybooks:now' %}">Now</a>
  <a href="{% url 'mybooks:read' %}">Soon</a> ||
<a href="{% url 'mybooks:series' %}">Series</a> |
<a href="{% url 'mybooks:authors' %}">Authors</a>

<h1>{% block heading %}{% endblock %}</h1>
{% block body %}{% endblock %}
