{% extends "mybooks/base.html" %}
{% block heading %}{{book.title}}{% endblock %}

{% block body %}
<table>
  <tr>
    <th><a href="{% url 'mybooks:books' %}">Books</a></th>
    <td><a target="_" href="/admin/mybooks/book/{{ book.id }}/">Edit</a></td></tr>
  <tr>
    <th>Author</th><td><a href="{% url 'mybooks:author_detail' book.author.id %}">
      {{ book.author }}</a></td>
  </tr>
  <tr>
    <th>Series</th><td>
      {% if book.series %}
          <a href="{% url 'mybooks:series_detail' book.series.id %}">
          {{ book.series }}</a>
          {% if book.series_book_number %}
             ({{ book.series_book_number }})
          {% endif %}
      {% else %}
          -
      {% endif %}
      </td>
  </tr>
  <tr>
    <th>Next</th><td>{{ book.series_next }}</td>
  </tr>
  <tr>
    <th>Status</th><td>{{ book.status }}</td>
  </tr>
  <tr>
    <th>Description</th><td>{{ book.description }}</td>
  </tr>
  <tr>
    <th>Notes</th><td>{{ book.notes }}</td>
  </tr>
  <tr>
    <th>Rating</th><td>{{ book.rating }}</td>
  </tr>
  <tr>
    <th>Read</th><td>{{ book.date_read }}</td>
  </tr>
  <tr>
    <th>Added</th><td>{{ book.date_added }}</td>
  </tr>
</table>
{% endblock %}
