{% extends "mybooks/base.html" %}
{% block heading %}
{% if list_title %}
  {{ list_title }}
{% else %}
  My Books
{% endif %}
{% endblock %}

{% block body %}
{% if latest_book_list %}
    <ul>
    {% for book in latest_book_list %}
        <li>
           <a href="{% url 'mybooks:book_detail' book.id %}" >{{ book.title }}</a>
           {% if book.series %}
             (<a href="{% url 'mybooks:series_detail' book.series.pk %}">{{ book.series }}
                      {{ book.series_book_number }}</a>)
           {% endif %}
           => <a
           href="{% url 'mybooks:author_detail' book.author.pk %}" >{{ book.author }}</a>
           {% if book.date_read %}
              <em>{{ book.read_recently }}</em>
           {% endif %}
           {% if not book.status == 'R' %}
              ({{ book.print_status }})
           {% endif %}
      </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books :-(.</p>
{% endif %}
{% endblock %}
