{% extends "mybooks/base.html" %}
{% block heading %}
{% if list_title %}
  {{ list_title }}
{% else %}
  My Books
{% endif %}
{% endblock %}

{% block body %}

<h3>Series to READ</h3>

<h4>Started</h4>
<p> <em>X</em> book not in local library
{% if latest_book_list_series_started %}
    <ul>
    {% for book in latest_book_list_series_started %}
        <li>
           {% if book.local_library == False %}
              <em>X </em>
           {% endif %}
           <a href="{% url 'mybooks:author_detail' book.author.pk %}" >{{ book.author }}</a>
           =>
           <a href="{% url 'mybooks:book_detail' book.id %}" >{{ book.title }}</a>
           =>
           <a href="{% url 'mybooks:series_detail' book.series.pk %}" >
                   {{ book.series }} ({{ book.series_book_number }})</a>
           {% if book.local_library != None %}
               {{ book.last_changed }}
           {% endif %}
           {{book.short_description}}
      </li>
    {% endfor %}
    </ul>
{% endif %}


<h4>Not Started</h4>
{% if latest_book_list_series %}
    <ul>
    {% for book in latest_book_list_series %}
        <li>
           {% if book.local_library == False %}
               <em>X </em>
           {% endif %}
           <a href="{% url 'mybooks:author_detail' book.author.pk %}" >{{ book.author }}</a>
           => <a href="{% url 'mybooks:book_detail' book.id %}" >{{ book.title }}
           ({{ book.series_book_number }})</a>
           =>
           <a href="{% url 'mybooks:series_detail' book.series.pk %}" >{{ book.series }}</a>
           {% if book.local_library != None %}
               {{ book.last_changed }}
           {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endif %}


<h3>Books to Read</h3>
{% if latest_book_list %}
    <ul>
    {% for book in latest_book_list %}
        <li>
           {% if book.local_library == False %}
               <em>X </em>
           {% endif %}
           <a href="{% url 'mybooks:author_detail' book.author.pk %}" >{{ book.author }}</a>
           =>
           <a href="{% url 'mybooks:book_detail' book.id %}" >{{ book.title }}</a>
           {% if book.local_library != None %}
               {{ book.last_changed }}
           {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
