{% extends "mybooks/base.html" %}

<br \><a href="{% url 'mybooks:series' %}">Series</a>

{% block heading %}{{ series }}{% endblock %}

{% block body %}
<table>
  {% if series.primary_author %}
    <tr>
      <th>Author</th><td><a href="{% url 'mybooks:author_detail' series.primary_author.pk %}">
      {{ series.primary_author }}</a></td>
    </tr>
  {% endif %}
  <tr>
    <th>Next book</th><td>{{ series.next_book }}</td>
  </tr>
  <tr>
    <th>Next series</th><td>{{ series.next }}</td>
  </tr>
  <tr>
  <tr>
    <th>Number</th><td>{{ series.series_number }}</td>
  </tr>
  <tr>
    <th>Description</th><td>{{ series.description }}</td>
  </tr>
  <tr>
    <th>Notes</th><td>{{ series.notes }}</td>
  </tr>
  <tr>
    <th>Rating</th><td>{{ series.rating }}</td>
  </tr>
  <tr>
    <th>Added</th><td>{{ series.date_added }}</td>
  </tr>
</table>

<h2>Books</h2>
{% if books %}
    <ol>
    {% for book in books %}
        <li>
           <a href="{% url 'mybooks:book_detail' book.id %}" >{{ book.title }}</a>
           {% if series.primary_author != book.author %}
             =>
             <a href="{% url 'mybooks:author_detail' book.author.id %}" >{{ book.author }}</a>
           {% endif %}
           {% if book.date_read %}
              <em>{{ book.read_recently }}</em>
           {% endif %}
       </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No books in this series:-(.</p>
{% endif %}
{% endblock %}
