{% extends "mybooks/base.html" %}
{% block heading %}My Series{% endblock %}
{% block body %}
{% if series_list %}
    <ul>
    {% for s in series_list %}
        <li>
           <a href="{% url 'mybooks:series_detail'  s.id %}" >{{ s.name }}</a>
           {% if s.started %}
               {{ s.display_status }}
               {% if s.rating %}
                    {{ s.rating }}
               {% endif %}
           {% endif %}
      </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No series :-(.</p>
{% endif %}
{% endblock %}
